# Auto detect text files and perform LF normalization
* text=auto
*.h5 filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
Dataset/HDF5_Dataset_60frame/motions_data60frame.h5 filter=lfs diff=lfs merge=lfs -text
NTU49_7J/xsub/train_data_joint.npy filter=lfs diff=lfs merge=lfs -text
NTU49_7J/xview/train_data_joint.npy filter=lfs diff=lfs merge=lfs -text
